* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  /* background-color: azure; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
header {
  display: flex;
  /* margin: 2em 10em; */
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.brand-logo {
  width: 90px;
}

.btn-header {
  background-color: #13183F;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  padding: 0.625rem 1rem;
}
.btn-header:hover {
  background-color: #666CA3;
  cursor: pointer;
}

footer {
  display: flex;
  /* margin: 2em 10em; */
  padding: 3rem 1rem;
  background-color: #13184F;
  align-items: center;
  justify-content: space-between;
}

.btn-footer {
  background-image: linear-gradient(#4851FF, #F02AA6);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  /* position: relative;
  z-index: 1;
  transition: all 200ms ease-in-out; */
  padding: 0.625rem 1rem;
}
.btn-footer:hover {
  background-image: linear-gradient(#F02AA6, #4851FF);
  cursor: pointer;
}